html,
body {
  margin: 0;
  padding: 0;
  /* Add this to ensure height calculation is consistent across browsers */
  box-sizing: border-box;
  /* Optionally, if you want to prevent scrolling on the entire page */
  overflow: hidden;
}

/* Your existing .container styles */
.container {
  background-color: #111827;
  width: 100vw;
  height: 100vh;
  color: white; /* Optional: to make the text visible */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input {
  margin-bottom: 5px;
  margin-top: 15px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #6b7280;
}

.logo {
  width: 60%; /* Or whatever percentage looks good on various screens */
  max-width: 600px; /* Optional: Set a maximum size so it doesn't get too big on very large screens */
  height: auto;
  margin-bottom: 20px;
}

.button {
  margin-top: 15px;
  margin-bottom: 5px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #0376ae;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: #42a6a4;
}

.button_cad {
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  background-color: #111827;
  color: #42a6a4;
  font-size: 16px;
  cursor: pointer;
}

.button_cad:hover {
  background-color: #42a6a4;
  color: #111827;
}

p {
  margin-top: 15px;
  font-size: 16px;
}
